@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
        
        .bg-light-dark{
            color: #646771;
            background-color: #16151a;
        }

        .t-span {
            color:#16151a; background-color:var(--primary-color);
            margin-right: 1rem;
        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding-left: 0 !important;
            padding: 0;
        }
        
        ul >li{
            padding: 4px;
        }
        
        ul > li:hover{
            color:var(--primary-color);
            cursor: pointer;
        }
        
        hr{
            border-width: 3px;
        }
        
        .social > i{
            padding: 1%;
            font-size: 15px;
        }
        
        .social > i:hover{
            color:var(--primary-color);
            cursor:pointer;
        }
        
        .policy > div{
            padding: 4px;
        }
        
        .heading{
            font-family: 'Titillium Web', sans-serif;
            color: white;
        }
        
        .divider{
            border-top: 2px solid rgba(189, 196, 203, 0.5);;
        }